p {
    padding: 0;
    margin: 0;
    align-content: center;
}
h2{
    font-size: 30px;
    color: azure;
    padding-top: 1px;
    margin-bottom: auto;
}
    
.containerTop {
    display: flex;
    overflow: auto;
    padding-bottom: 10px;
}
    
.container-pro {
    max-width: 40%;
    max-height: 550px;
    display: block;
    margin: auto;
    background-color: rgb(236, 191, 65);
    border-radius:15px;
    padding: 0px;        
    font-size: 20px;
    text-align: center;
}
    
.keterangan {
    margin: auto;
    width: 60%;
    padding: 5px;
    display: flex;
    justify-content:center;
}
    
.MainPerson{
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
}
.Judul{
    color: white;
    font-family: Verdana;
}
    .name-person{
    font-size: 30px;
    text-align: center;
    color: azure;
    font-family: sans-serif;
}
.repo{
    font-size: 20px;
    margin: auto;
    padding-bottom: auto;
    text-align: center;
    color: azure;
    font-family: sans-serif;
}
.username{
    width: 100%;
    text-align: center;
    color: azure;
    font-size: 20px;
    border-color: #191855;
    border-style: 4px;
    border-radius: 10px;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.followers{
    width: 50%;
    height: 20px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    background-color: #492f16; /* Green */
    border-radius: 10px;
    margin: 6px 3px 3px 0px;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.following{
    width: 50%;
    height: 20px;
    text-align: center;
    color: #492f16;
    font-family: sans-serif;
    border-color: #492f16; /* Green */
    border-style: solid;
    border-radius: 10px;
    margin: 6px 3px 3px 0px;
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.forward {
    width: 120%;
    height: 25px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    background-color: #644527; /* Green */
    border-radius: 10px;
    margin-left: 76%;
    padding: 13px 30px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
}
.backward {
    width: 80%;
    height: 25px;
    text-align: center;
    color: #644527;
    font-family: sans-serif;
    border-color: #644527; /* Green */
    border-radius: 10px;
    border-style: solid;
    margin: 0px 3px 3px 0px;
    padding: 13px 30px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
}
img {
    margin-top: 10px;
    border-radius: 50%;
    width: 200px;
    padding: auto;
}